.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 649px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 575px;
  height: 575px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 139px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 162px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1143px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  width: 153px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  width: 137px;
  margin: 7px auto 0;
}

.u-section-2 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: -16px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -68px 407px 0 16px;
}

.u-section-2 .u-text-5 {
  margin: 0 390px 0 18px;
}

.u-section-2 .u-text-6 {
  margin: 6px 0 0 16px;
}

.u-section-2 .u-image-1 {
  height: 498px;
  margin-top: 33px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1000px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-8 {
  margin: -54px -6px 0 6px;
}

.u-section-2 .u-text-9 {
  margin: 16px -6px 0 6px;
}

.u-section-2 .u-text-10 {
  margin: 18px -6px 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 41px;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -83px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-top: 103px;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 825px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    margin-top: 18px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    font-weight: normal;
    margin-top: 27px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-line-1 {
    width: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -197px;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 199px;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -92px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 104px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -11px;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-top: -29px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -218px;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-top: 209px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1143px;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 56px 554px 0 533px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -5px 304px 0 18px;
}

.u-section-3 .u-text-3 {
  margin: 593px 385px 0 48px;
}

.u-section-3 .u-text-4 {
  margin: -421px 65px 0 351px;
}

.u-section-3 .u-image-1 {
  width: 332px;
  height: 332px;
  margin: -54px auto 0 19px;
}

.u-section-3 .u-image-2 {
  width: 332px;
  height: 332px;
  margin: -20px 19px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1000px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 114px 362px 0 32px;
}

.u-section-3 .u-image-3 {
  width: 297px;
  height: 297px;
  margin: -90px 45px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  width: 151px;
  margin: 35px auto 0;
}

.u-section-3 .u-image-4 {
  width: 446px;
  height: 446px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 785px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 454px;
    margin-left: 433px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -97px;
    margin-right: 222px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 333px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 15px;
    margin-left: 301px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 825px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 134px;
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 445px;
    height: 445px;
    margin-top: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 687px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 344px;
    margin-left: 323px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -273px;
    margin-right: 112px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 3px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 3px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 37px;
    margin-right: 184px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 38px;
  }

  .u-section-3 .u-image-4 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1680px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 274px;
    margin-left: 253px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1218px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 174px;
    margin-left: 153px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -259px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -37px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 602px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  margin: 0 356px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 455px;
  height: 341px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 130px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 256px;
  }

  .u-section-4 .u-image-1 {
    width: 310px;
    height: 233px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 225px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 329px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1187px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  width: 508px;
  margin: 56px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  width: 203px;
  margin: 7px auto 0;
}

.u-section-5 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: -16px -22px 0 22px;
}

.u-section-5 .u-text-4 {
  margin: -70px 360px 0 22px;
}

.u-section-5 .u-text-5 {
  margin: 7px 180px 0 22px;
}

.u-section-5 .u-text-6 {
  margin: -16px 22px 0;
}

.u-section-5 .u-image-1 {
  height: 498px;
  margin-top: 70px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 1000px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-2 {
  width: 495px;
  height: 495px;
  margin: 26px auto 0 28px;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 48px 272px 0 28px;
}

.u-section-5 .u-text-8 {
  margin: 16px -28px 0 28px;
}

.u-section-5 .u-text-9 {
  margin: 7px 53px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 785px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    width: 153px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -21px;
    margin-left: 0;
    margin-right: 102px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -84px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: 487px;
    margin-top: -7px;
    margin-right: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 825px;
  }

  .u-section-5 .u-image-2 {
    width: 445px;
    height: 445px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 549px;
    margin-left: 0;
    margin-right: 200px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 687px;
  }

  .u-section-5 .u-line-1 {
    width: 660px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -135px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 391px;
    margin-right: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 335px;
    height: 335px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 431px;
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1680px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 520px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: -92px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 114px;
  }

  .u-section-5 .u-image-1 {
    height: 619px;
    margin-top: -78px;
    margin-right: initial;
  }

  .u-section-5 .u-text-7 {
    margin-top: 624px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1218px;
  }

  .u-section-5 .u-line-1 {
    width: 320px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -93px;
  }

  .u-section-5 .u-image-1 {
    height: 381px;
    margin-top: -14px;
    margin-right: initial;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 410px;
    margin-right: 0;
  }
}.u-section-6 {
  background-image: none;
  min-height: 1187px;
}

.u-section-6 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  width: 508px;
  margin: 56px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  width: 203px;
  margin: 7px auto 0;
}

.u-section-6 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-6 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: -16px -22px 0 22px;
}

.u-section-6 .u-text-4 {
  margin: 21px 71px 0 21px;
}

.u-section-6 .u-image-1 {
  width: 503px;
  height: 443px;
  margin: 91px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 1000px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-5 {
  margin: 114px 85px 0 7px;
}

.u-section-6 .u-text-6 {
  margin: 14px 85px 0 7px;
}

.u-section-6 .u-image-2 {
  width: 520px;
  height: 210px;
  margin: 56px auto 0 7px;
}

.u-section-6 .u-image-3 {
  width: 479px;
  height: 367px;
  margin: 79px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 785px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: 153px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-6 .u-image-1 {
    width: 445px;
    height: 392px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 825px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 809px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 445px;
    height: 180px;
    margin-top: -604px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 445px;
    height: 341px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 687px;
  }

  .u-section-6 .u-line-1 {
    width: 660px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-6 .u-image-1 {
    width: 335px;
    height: 295px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 588px;
  }

  .u-section-6 .u-image-2 {
    width: 335px;
    height: 136px;
    margin-top: -404px;
  }

  .u-section-6 .u-image-3 {
    width: 335px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1680px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-line-1 {
    width: 520px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-4 {
    margin-top: -92px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 816px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -611px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1218px;
  }

  .u-section-6 .u-line-1 {
    width: 320px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 630px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -446px;
  }
}