.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 649px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 575px;
  height: 575px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 139px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 162px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1143px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 312px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  width: 225px;
  margin: 7px auto 0;
}

.u-section-2 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1050px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  font-size: 4.5rem;
  margin: 7px -16px 0 16px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: -68px 407px 0 16px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: 6px 392px 0 16px;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  margin: 7px 0 0 16px;
}

.u-section-2 .u-image-1 {
  width: 1259px;
  height: 638px;
  margin: -9px -59px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 866px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 41px;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -83px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 476px;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-line-1 {
    width: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -191px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -197px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 300px;
    margin-top: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 917px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -241px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -92px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 104px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -11px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 225px;
    margin-top: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -157px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -218px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 142px;
    margin-top: 81px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1143px;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  width: 307px;
  margin: 56px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  width: 252px;
  margin: 7px auto 0;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1096px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  margin: 7px 0 0 16px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: -71px 0 0 16px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 0 0 0 16px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 0 0 0 16px;
}

.u-section-3 .u-image-1 {
  height: 727px;
  width: 1284px;
  margin: 36px auto 0 -64px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 785px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 904px;
  }

  .u-section-3 .u-text-3 {
    font-weight: normal;
    margin-top: 544px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 558px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 499px;
    width: 445px;
    margin-top: -1339px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 687px;
  }

  .u-section-3 .u-line-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 421px;
  }

  .u-section-3 .u-image-1 {
    height: 376px;
    width: 335px;
    margin-top: -1237px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1680px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-top: -1216px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1218px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    margin-top: 664px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -1237px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1143px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 56px 554px 0 533px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  width: 307px;
  margin: -96px 467px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  width: 252px;
  margin: 7px 494px 0;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0 223px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1020px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -5px 304px 0 18px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: 117px 258px 0 600px;
}

.u-section-4 .u-image-1 {
  width: 448px;
  height: 448px;
  margin: -144px auto 0 117px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  margin: 214px 591px 0 318px;
}

.u-section-4 .u-image-2 {
  width: 503px;
  height: 503px;
  margin: -387px 72px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 785px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 454px;
    margin-left: 433px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 379px;
    margin-left: 295px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 407px;
    margin-left: 322px;
  }

  .u-section-4 .u-line-1 {
    margin-left: 93px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 841px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -97px;
    margin-right: 222px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 208px;
    margin-left: 550px;
  }

  .u-section-4 .u-image-1 {
    width: 445px;
    height: 445px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 224px;
    margin-right: 541px;
    margin-left: 268px;
  }

  .u-section-4 .u-image-2 {
    width: 445px;
    height: 445px;
    margin-top: -143px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 344px;
    margin-left: 323px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 226px;
    margin-left: 227px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 254px;
    margin-right: 254px;
  }

  .u-section-4 .u-line-1 {
    width: 660px;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -273px;
    margin-right: 112px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 153px;
    margin-left: 495px;
  }

  .u-section-4 .u-image-1 {
    width: 335px;
    height: 335px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 486px;
    margin-left: 213px;
  }

  .u-section-4 .u-image-2 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1680px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 274px;
    margin-left: 253px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 156px;
    margin-left: 157px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 184px;
    margin-right: 184px;
  }

  .u-section-4 .u-line-1 {
    width: 520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1218px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 174px;
    margin-left: 153px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 56px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-4 .u-line-1 {
    width: 320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-top: -259px;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-5 {
    margin-right: 53px;
    margin-left: 395px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 386px;
    margin-left: 113px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1143px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 56px 554px 0 533px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1277px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 112px 809px 0 32px;
}

.u-section-5 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: -134px 32px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  margin: 177px 86px 0 715px;
}

.u-section-5 .u-image-2 {
  width: 662px;
  height: 662px;
  margin: -383px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 785px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 454px;
    margin-left: 433px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1053px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 134px;
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 445px;
    height: 445px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 151px;
    margin-top: 35px;
    margin-right: 36px;
    margin-left: 665px;
  }

  .u-section-5 .u-image-2 {
    width: 445px;
    height: 445px;
    margin-top: 128px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 687px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 344px;
    margin-left: 323px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 37px;
    margin-right: 184px;
  }

  .u-section-5 .u-image-1 {
    width: 335px;
    height: 335px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 193px;
    margin-right: 0;
    margin-left: 591px;
  }

  .u-section-5 .u-image-2 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1680px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 274px;
    margin-left: 253px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-top: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1218px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 174px;
    margin-left: 153px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-top: -37px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 126px;
    margin-left: 391px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 670px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0 786px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 28px 848px 0 0;
}

.u-section-6 .u-image-1 {
  width: 638px;
  height: 434px;
  margin: -127px 96px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 686px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 748px;
  }

  .u-section-6 .u-image-1 {
    width: 310px;
    height: 233px;
    margin-top: 73px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 576px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 638px;
  }

  .u-section-6 .u-image-1 {
    width: 300px;
    height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 376px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 438px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 1187px;
}

.u-section-7 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  width: 508px;
  font-size: 3.75rem;
  margin: 56px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  width: 347px;
  margin: 7px auto 0;
}

.u-section-7 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-7 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-text-3 {
  font-size: 4.5rem;
  margin: -16px 866px 0 22px;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 9px 360px 0 22px;
}

.u-section-7 .u-text-5 {
  font-size: 2.25rem;
  margin: 7px 818px 0 22px;
}

.u-section-7 .u-text-6 {
  font-size: 2.25rem;
  margin: 9px 22px 0;
}

.u-section-7 .u-image-1 {
  height: 586px;
  width: 1202px;
  margin: 0 auto 0 -21px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 785px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: 153px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-7 .u-text-3 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 788px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -21px;
    margin-left: 0;
    margin-right: 102px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -84px;
    margin-right: 0;
    margin-left: 0;
    font-weight: normal;
  }

  .u-section-7 .u-image-1 {
    height: 458px;
    margin-top: -7px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 687px;
  }

  .u-section-7 .u-line-1 {
    width: 660px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 678px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -135px;
    margin-right: 420px;
  }

  .u-section-7 .u-image-1 {
    height: 351px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1680px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    width: 520px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-4 {
    margin-top: -92px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 114px;
    margin-right: 240px;
  }

  .u-section-7 .u-image-1 {
    height: 263px;
    margin-top: -78px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1218px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
  }

  .u-section-7 .u-line-1 {
    width: 320px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: 478px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -93px;
    margin-right: 40px;
  }

  .u-section-7 .u-image-1 {
    height: 166px;
    margin-top: -14px;
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
  min-height: 1187px;
}

.u-section-8 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  width: 508px;
  font-size: 3.75rem;
  margin: 56px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  width: 322px;
  margin: 7px auto 0;
}

.u-section-8 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-8 .u-layout-cell-1 {
  min-height: 1542px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-8 .u-text-3 {
  font-size: 4.5rem;
  margin: 23px 284px 0 16px;
}

.u-section-8 .u-text-4 {
  font-size: 2.25rem;
  margin: 16px -28px 0 28px;
}

.u-section-8 .u-text-5 {
  font-size: 2.25rem;
  margin: 7px 53px 0 28px;
}

.u-section-8 .u-image-1 {
  width: 1097px;
  height: 1097px;
  margin: 0 auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 785px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: 153px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1271px;
  }

  .u-section-8 .u-text-3 {
    font-weight: normal;
    margin-top: 1438px;
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 562px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: 553px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 445px;
    height: 445px;
    margin-top: -2251px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 687px;
  }

  .u-section-8 .u-line-1 {
    width: 660px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 1210px;
    margin-right: 90px;
  }

  .u-section-8 .u-image-1 {
    width: 335px;
    height: 335px;
    margin-top: -2023px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1680px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 520px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-top: 1403px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -2237px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1218px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    width: 320px;
  }

  .u-section-8 .u-line-1 {
    width: 320px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-top: 1189px;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-1 {
    margin-top: -1970px;
  }
}.u-section-9 {
  background-image: none;
  min-height: 1187px;
}

.u-section-9 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  width: 508px;
  font-size: 3.75rem;
  margin: 56px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  width: 435px;
  margin: 7px auto 0;
}

.u-section-9 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-9 .u-layout-cell-1 {
  min-height: 1089px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-text-3 {
  font-size: 4.5rem;
  margin: 0 -21px 0 21px;
}

.u-section-9 .u-text-4 {
  font-size: 2.25rem;
  margin: 7px 71px 0 21px;
}

.u-section-9 .u-image-1 {
  width: 871px;
  height: 682px;
  margin: 69px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 785px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-1 {
    width: 153px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 898px;
  }

  .u-section-9 .u-text-3 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-9 .u-image-1 {
    width: 445px;
    height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 687px;
  }

  .u-section-9 .u-line-1 {
    width: 660px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-9 .u-image-1 {
    width: 335px;
    height: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 1680px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-line-1 {
    width: 520px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-text-4 {
    margin-top: -92px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 1218px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    width: 320px;
  }

  .u-section-9 .u-line-1 {
    width: 320px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-4 {
    margin-top: -123px;
    margin-left: 89px;
  }
}.u-section-10 {
  background-image: none;
  min-height: 1187px;
}

.u-section-10 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
  height: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  width: 508px;
  font-size: 3.75rem;
  margin: 56px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.875rem;
  width: 441px;
  margin: 7px auto 0;
}

.u-section-10 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 7px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: -328px auto 33px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-10 .u-layout-cell-1 {
  min-height: 1216px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-10 .u-text-3 {
  font-size: 4.5rem;
  margin: 18px 0 0;
}

.u-section-10 .u-text-4 {
  font-size: 2.25rem;
  margin: 18px 85px 0 7px;
}

.u-section-10 .u-text-5 {
  font-size: 2.25rem;
  margin: 14px 85px 0 7px;
}

.u-section-10 .u-image-1 {
  width: 579px;
  height: 296px;
  margin: 0 auto;
}

.u-section-10 .u-image-2 {
  width: 835px;
  height: 517px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 785px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-1 {
    width: 153px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1003px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 708px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 445px;
    height: 180px;
    margin-top: -604px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 445px;
    height: 341px;
    margin-top: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 687px;
  }

  .u-section-10 .u-line-1 {
    width: 660px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 531px;
  }

  .u-section-10 .u-image-1 {
    width: 335px;
    height: 136px;
    margin-top: -404px;
  }

  .u-section-10 .u-image-2 {
    width: 335px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 1680px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-line-1 {
    width: 520px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-text-4 {
    margin-top: 738px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -611px;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    min-height: 1218px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    width: 320px;
  }

  .u-section-10 .u-line-1 {
    width: 320px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-text-4 {
    margin-top: 571px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -446px;
  }
}