.u-section-1 {
  min-height: 1033px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 1129px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 575px;
  height: 575px;
  background-image: url("images/IMG_2021030521410946.PNG");
  background-position: 50% 50%;
  margin: -28px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: -35px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 700;
  margin: 414px 67px 0 82px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -539px;
  margin-bottom: 43px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 358px;
  height: 358px;
  margin: -22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 963px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -40px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 142px;
  }

  .u-section-1 .u-text-2 {
    width: 554px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 151px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -294px;
    margin-left: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 886px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 219px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 520px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -288px;
  }

  .u-section-1 .u-text-2 {
    width: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 320px;
    margin-top: -177px;
    margin-left: 50px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1420px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 56px 554px 0 533px;
}

.u-section-2 .u-text-2 {
  font-size: 6rem;
  font-weight: normal;
  margin: -79px 451px 0 56px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 16px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1310px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  margin: 0 500px 0 22px;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  font-style: italic;
  margin: 13px 373px 0 0;
}

.u-section-2 .u-image-1 {
  width: 500px;
  height: 500px;
  background-image: url("images/IMG_2286.JPG");
  background-position: 50% 50%;
  margin: 35px -45px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  margin: 142px 13px 0 692px;
}

.u-section-2 .u-image-2 {
  width: 662px;
  height: 662px;
  margin: -506px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 454px;
    margin-left: 433px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 307px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1080px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 321px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 173px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 344px;
    margin-left: 323px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 101px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 274px;
    margin-left: 253px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 105px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 174px;
    margin-left: 153px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1354px;
}

.u-section-3 .u-group-1 {
  min-height: 532px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 56px 410px 0 677px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 0 calc(((100% - 1140px) / 2) + -16px);
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1399px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 244px 9px 0 593px;
}

.u-section-3 .u-image-1 {
  width: 532px;
  height: 532px;
  background-image: url("images/IMG_2288.JPG");
  background-position: 50% 50%;
  margin: -243px auto 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-style: italic;
  background-image: none;
  font-weight: normal;
  margin: 297px 667px 0 56px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  margin: -206px 667px 0 92px;
}

.u-section-3 .u-image-2 {
  width: 576px;
  height: 576px;
  background-image: url("images/IMG_22891.jpg");
  background-position: 50% 50%;
  margin: -246px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 785px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 310px;
    margin-left: 577px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1154px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 842px;
    margin-right: 208px;
    margin-left: 550px;
  }

  .u-section-3 .u-image-1 {
    width: 445px;
    height: 445px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -283px;
    margin-right: 523px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 421px;
    margin-right: 541px;
    margin-left: 268px;
  }

  .u-section-3 .u-image-2 {
    width: 445px;
    height: 445px;
    margin-top: -143px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 687px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 200px;
    margin-left: 467px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 718px;
    margin-right: 153px;
    margin-left: 495px;
  }

  .u-section-3 .u-image-1 {
    width: 335px;
    height: 335px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -391px;
    margin-right: 303px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 529px;
    margin-right: 486px;
    margin-left: 213px;
  }

  .u-section-3 .u-image-2 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1680px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 130px;
    margin-left: 397px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 503px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -290px;
    margin-right: 123px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1218px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 30px;
    margin-left: 297px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 340px;
    margin-right: 53px;
    margin-left: 395px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -127px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 265px;
    margin-right: 386px;
    margin-left: 113px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1533px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 887px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -887px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1633px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  font-size: 6rem;
  margin: 16px -16px 0 16px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: -85px 407px 0 16px;
}

.u-section-4 .u-image-1 {
  width: 850px;
  height: 769px;
  margin: 28px auto 0 16px;
}

.u-section-4 .u-image-2 {
  width: 509px;
  height: 510px;
  margin: -83px 16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 785px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1347px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-4 .u-image-1 {
    width: 612px;
    height: 650px;
    margin-top: 95px;
    margin-right: -60px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 620px;
    height: 827px;
    margin-top: -941px;
    margin-right: -95px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -191px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 300px;
    margin-top: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1680px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -241px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -92px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    height: 225px;
    margin-top: 429px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -809px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1218px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -157px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 142px;
    margin-top: 252px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 453px;
    margin-top: -584px;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1533px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 887px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -887px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1633px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  font-size: 6rem;
  margin: 16px -16px 0 16px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: -85px 407px 0 16px;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  margin: 8px 407px 0 16px;
}

.u-section-5 .u-text-4 {
  font-size: 3rem;
  margin: 8px 306px 0 16px;
}

.u-section-5 .u-image-1 {
  width: 726px;
  height: 931px;
  margin: 54px auto 0 35px;
}

.u-section-5 .u-image-2 {
  width: 509px;
  height: 510px;
  margin: -696px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 785px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1347px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 399px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -290px;
    margin-right: 223px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 248px;
    margin-right: 122px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 612px;
    height: 650px;
    margin-top: 23px;
    margin-right: -60px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 620px;
    height: 827px;
    margin-top: -941px;
    margin-right: -95px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 687px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -191px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -134px;
    margin-left: 289px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -605px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 449px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 300px;
    margin-top: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1680px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -241px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -92px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -249px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 342px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 225px;
    margin-top: 165px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -809px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1218px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -157px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -123px;
    margin-left: 89px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -546px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 432px;
  }

  .u-section-5 .u-image-1 {
    width: 170px;
    height: 142px;
    margin-top: 81px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 453px;
    margin-top: -584px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 959px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 839px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: 17px 786px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 17px 547px 0 0;
}

.u-section-6 .u-image-1 {
  width: 638px;
  height: 434px;
  margin: 24px 96px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 692px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 586px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 366px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 127px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 226px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 354px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 26px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 218px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 1688px;
}

.u-section-7 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: -349px auto 54px calc(((100% - 1140px) / 2) + -16px);
}

.u-section-7 .u-layout-cell-1 {
  min-height: 1501px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: -43px 735px 0 18px;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  margin: 18px 14px 0 22px;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  margin: 0 63px 0 18px;
}

.u-section-7 .u-image-1 {
  width: 1032px;
  height: 1032px;
  margin: -10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 1425px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1238px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 553px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 287px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 333px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-right: 153px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-8 {
  background-image: none;
  min-height: 1403px;
}

.u-section-8 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 532px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: -447px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 1270px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-8 .u-text-1 {
  font-size: 6rem;
  margin: 18px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 18px 0 0 7px;
}

.u-section-8 .u-text-3 {
  font-size: 3rem;
  margin: 14px 85px 0 7px;
}

.u-section-8 .u-image-1 {
  width: 674px;
  height: 329px;
  margin: 0 auto;
}

.u-section-8 .u-image-2 {
  width: 981px;
  height: 589px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 785px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1047px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 708px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 445px;
    height: 180px;
    margin-top: -604px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 445px;
    height: 341px;
    margin-top: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 687px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 531px;
  }

  .u-section-8 .u-image-1 {
    width: 335px;
    height: 136px;
    margin-top: -404px;
  }

  .u-section-8 .u-image-2 {
    width: 335px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1680px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 738px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -611px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1218px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: 571px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -446px;
  }
}